<section>
    <div class="form1">
         <form>
            <h2 class="text-center">Register Form</h2>
            <label>UserName</label>
            <input type="text" class="form-control" placeholder="Name">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" >
            <label>Password</label>
            <input type="text" class="form-control"  placeholder="Password" >
            <button>signUp</button>   
           
         </form>
    </div>

</section>
