<section>
<div class="form-a">
    <form>
        <h4 class="text-center">Login</h4>
        <label>UserName</label>
        <input type="text" value="" placeholder="UserName" required="" class="form-control">
          
        <label>Password</label>
        <input type="text" value="" placeholder="Password" required="" class="form-control">
        
       
        <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
<!-- <p>or</p> -->
        <div class="fe">
        <a href="create">/Create Account</a>
    </div>
        <button>signIn</button>   
    </form>
</div>
</section>
